{% extends 'base.html' %}

{% block content %}


<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">

                    <div class="sb-sidenav-menu-heading">result</div>
                    <a class="nav-link" href="{{ url_for('main.charts') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                    </a>

                </div>
            </div>

            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Start Bootstrap
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">MVTI</h1>
                
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">영화 장르는 6가지 입니다</li>
                </ol>
                <p>(1) SF<br>
                    (2) 음악, 로맨스<br>
                    (3) 판타지, 모험, 애니메이션, 코미디<br>
                    (4) 역사, 전쟁<br>
                    (5) 범죄, 스릴러, 액션<br>
                    (6) 공포, 미스터리
                </p>
                <br><br><br>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">MVTI 검사 질문 <br> (1개의 영화 장르를 선택하세요)</li>
                </ol>


                <ol class="breadcrumb mb-4" style="background-color: rgb(197, 168, 64);">
                    <li class="breadcrumb-item active" style="color: white;">맑은 날🌤️</li>
                </ol>

                <div class="col-md-6"></div>
                <div class="card" style="background-color: rgb(197, 168, 64); color: white;">

                        <div class="container mt-5">
                            <form method="POST" action="{{ url_for('main.your_route') }}">
                                {{ form.csrf_token }}
                        
                                {% for question_field in [form.question1, form.question2, form.question3, form.question4] %}
                                <div class="form-group {% if loop.first %}mb-4{% endif %}">
                                    <!-- Add mb-4 (margin-bottom: 1rem) to the first set of questions -->
                                    <label for="{{ question_field.id }}" style="font-weight: bold; font-size: 18px;">{{ question_field.label }}</label>
                        
                                    {% for subfield in question_field %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="{{ subfield.name }}"
                                                   id="{{ subfield.id }}" value="{{ subfield.data }}" {% if subfield.data
                                                   %}checked{% endif %}>
                                            <label class="form-check-label" for="{{ subfield.id }}">
                                                {{ subfield.label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <br><br>
                                </div>
                                {% endfor %}
                        
                                
                            </form>
                        </div>
                </div>


                <div class="col-md-6"></div>
                <br><br><br>
                <ol class="breadcrumb mb-4" style="background-color: rgb(50, 120, 120);">
                    <li class="breadcrumb-item active" style="color: white;">흐린 날☁️</li>
                </ol>

                <div class="col-md-6"></div>
                <div class="card" style="background-color: rgb(53, 120, 120); color: white;">



                        <div class="container mt-5">
                            <form method="POST" action="{{ url_for('main.your_route') }}">
                                {{ form.csrf_token }}
                        
                                {% for question_field in [form.question5, form.question6, form.question7, form.question8] %}
                                <div class="form-group {% if loop.first %}mb-4{% endif %}">
                                    <!-- Add mb-4 (margin-bottom: 1rem) to the first set of questions -->
                                    <label for="{{ question_field.id }}" style="font-weight: bold; font-size: 18px;">{{ question_field.label }}</label>
                        
                                    {% for subfield in question_field %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="{{ subfield.name }}"
                                                   id="{{ subfield.id }}" value="{{ subfield.data }}" {% if subfield.data
                                                   %}checked{% endif %}>
                                            <label class="form-check-label" for="{{ subfield.id }}">
                                                {{ subfield.label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <br><br>
                                </div>
                                {% endfor %}

                            </form>
                        </div>

                </div>







                <div class="col-md-6"></div>
                <br><br><br>
                <ol class="breadcrumb mb-4" style="background-color: rgb(64, 107, 156);">
                    <li class="breadcrumb-item active" style="color: white;">눈오는 날☃️</li>
                </ol>

                <div class="col-md-6"></div>
                <div class="card" style="background-color: rgb(64, 107, 156); color: white;">
                        


                        <div class="container mt-5">
                            <form method="POST" action="{{ url_for('main.your_route') }}">
                                {{ form.csrf_token }}
                        
                                {% for question_field in [form.question9, form.question10] %}
                                <div class="form-group {% if loop.first %}mb-4{% endif %}">
                                    <!-- Add mb-4 (margin-bottom: 1rem) to the first set of questions -->
                                    <label for="{{ question_field.id }}" style="font-weight: bold; font-size: 18px;">{{ question_field.label }}</label>
                        
                                    {% for subfield in question_field %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="{{ subfield.name }}"
                                                   id="{{ subfield.id }}" value="{{ subfield.data }}" {% if subfield.data
                                                   %}checked{% endif %}>
                                            <label class="form-check-label" for="{{ subfield.id }}">
                                                {{ subfield.label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <br><br>
                                </div>
                                {% endfor %}
                            </form>
                        </div>
                </div>





                <div class="col-md-6"></div>
                <br><br><br>
                <ol class="breadcrumb mb-4" style="background-color: rgb(107, 44, 126);">
                    <li class="breadcrumb-item active" style="color: white;">비오는 날☔</li>
                </ol>

                <div class="col-md-6"></div>
                <div class="card" style="background-color: rgb(107, 44, 126); color: white;">
                        
                        <div class="container mt-5">
                            <form method="POST" action="{{ url_for('main.your_route') }}">
                                {{ form.csrf_token }}
                        
                                {% for question_field in [form.question11, form.question12] %}
                                <div class="form-group {% if loop.first %}mb-4{% endif %}">
                                    <!-- Add mb-4 (margin-bottom: 1rem) to the first set of questions -->
                                    <label for="{{ question_field.id }}" style="font-weight: bold; font-size: 18px;">{{ question_field.label }}</label>
                        
                                    {% for subfield in question_field %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="{{ subfield.name }}"
                                                   id="{{ subfield.id }}" value="{{ subfield.data }}" {% if subfield.data
                                                   %}checked{% endif %}>
                                            <label class="form-check-label" for="{{ subfield.id }}">
                                                {{ subfield.label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <br><br>
                                </div>
                                {% endfor %}

                            </form>
                        </div>

                    </div>
            </div>

            <div class="text-center mt-3">
                <input class="btn btn-primary" type="submit" value="Next">
            </div>

        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright © team.에융(김지민, 김소정, 손유경)</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock %}