{% extends 'base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">MVTI</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                        aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Layouts
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Static Navigation</a>

                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                        aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Pages
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                aria-controls="pagesCollapseAuth">
                                Authentication
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="login.html">Login</a>
                                    <a class="nav-link" href="register.html">Register</a>
                                    <a class="nav-link" href="password.html">Forgot Password</a>
                                </nav>
                            </div>


                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="{{ url_for('main.charts') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                    </a>

                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Start Bootstrap
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">MVTI</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">MVTI 검사 질문</li>
                </ol>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            
                            <div class="card-body">Sunny Day</div>
                            <div class="question">
                            <p>1-1. 화창하고 20도 이상의 여름날씨에 어떤 영화 장르를 보고 싶나요?</p>
                            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fcafefiles.naver.net%2FMjAxOTA3MTNfMTUg%2FMDAxNTYyOTg2NzI5NjI5.BzEomVPN2qRJD_LEWmEK3YeqxFa5VhLZeBiGv_PLma4g.eXYL0c-0eM0jy5RteWM19lUlkO0U1Zs9Tm6Eoj6gsPUg.JPEG%2F20190712_122426.jpg&type=sc960_832" width="300" height="350">
                            <p>(1) 로맨스 영화</p>  
                            <div class="d-flex justify-content-between">
                                <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                            </div>
                            <p>(2) 액션 영화</p>  
                            <div class="d-flex justify-content-between">
                                <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                            </div>
                            <p>(3) 판타지 영화</p>  
                            <div class="d-flex justify-content-between">
                                <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                            </div>
                            <br><br><br><br><br>
                            <p>1-2. 화창하고 10도 이상의 산책하기 좋은 날씨에 어떤 영화 장르를 보고 싶나요?</p>
                            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTEwMTNfNDMg%2FMDAxNjM0MTAwMzAxMTA3.X9WJ2NE_fuCg-sku9rpB7hwnDDPPVjy3hqDc9sx1s2Qg.EXz7eneQdwCDXtitq1la5kBtxXrnLs3WibQNSLf7-aog.JPEG.toni2000%2F20211013%25A3%25DF133949.jpg&type=sc960_832" width="300" height="350">
                            <p>(1) 로맨스 영화</p>  
                            <div class="d-flex justify-content-between">
                                <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                            </div>
                            <p>(2) 액션 영화</p>  
                            <div class="d-flex justify-content-between">
                                <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                            </div>
                            <p>(3) 판타지 영화</p>  
                            <div class="d-flex justify-content-between">
                                <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                            </div>
                            <br><br><br><br><br>
                            <p>1-3. 화창하고 시원한 가을날씨에 어떤 영화 장르를 보고 싶나요?</p>
                            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20101012_9%2Frin1117_1286891555614FSQ93_jpg%2Fphoto0675_rin1117.jpg&type=sc960_832" width="300" height="350">
                            <p>(1) 로맨스 영화</p>  
                            <div class="d-flex justify-content-between">
                                <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                            </div>
                            <p>(2) 액션 영화</p>  
                            <div class="d-flex justify-content-between">
                                <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                            </div>
                            <p>(3) 판타지 영화</p>  
                            <div class="d-flex justify-content-between">
                                <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                            </div>
                            <br><br><br><br><br>
                            <p>1-4. 화창하고 추운 겨울날씨에 어떤 영화 장르를 보고 싶나요?</p>
                            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAyMTRfMjg0%2FMDAxNjQ0ODIwNzk3NzU4.YThBIjJLuPfb6LHQG_kOun7WUAZVTj7NEZ5YFdP4L_kg.sP7l1HyykYuMdA-AenxkOiGDDwuXt82aTgQ4d3b1aLUg.JPEG.maehokada%2FnIMG_1006.jpg&type=sc960_832" width="300" height="350">
                            <p>(1) 로맨스 영화</p>  
                            <div class="d-flex justify-content-between">
                                <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                            </div>
                            <p>(2) 액션 영화</p>  
                            <div class="d-flex justify-content-between">
                                <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                            </div>
                            <p>(3) 판타지 영화</p>  
                            <div class="d-flex justify-content-between">
                                <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                            </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            
                            <div class="card-body">Cloudy Day</div>
                            <div class="question">
                                <p>2-1. 흐리고 20도 이상의 여름날씨에 어떤 영화 장르를 보고 싶나요?</p>
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA5MDhfMTYw%2FMDAxNjYyNjEzMjQ1MDE3.fMPVnJevC_OSK2d3Y1gJ407amPWqijFNY73ugYCJMqQg.yE3Kj4719mBRBs0ckuJTDtsKPs58fU2x0slxJGbHoIYg.JPEG.sh7235%2FKakaoTalk_20220908_104133402_23.jpg&type=sc960_832" width="300" height="350">
                                <p>(1) 로맨스 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(2) 액션 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(3) 판타지 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <br><br><br><br><br>
                                <p>2-2. 흐리고 10도 이상의 산책하기 좋은 날씨에 어떤 영화 장르를 보고 싶나요?</p>
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTA5MjBfMTU3%2FMDAxNjMyMTQzODM3MjMx.P5pUr1EAIFxos8tnZ3a5gSCcF3eaK8SjxJiK_hut6jUg.MK8yodclEiA4PzDMCfRhapdHcLO72bCZA_aLBv0mgPEg.JPEG.tkrhk0487%2FIMG_9102.jpg&type=sc960_832" width="300" height="350">
                                <p>(1) 로맨스 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(2) 액션 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(3) 판타지 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <br><br><br><br><br>
                                <p>2-3. 흐리고 시원한 가을날씨에 어떤 영화 장르를 보고 싶나요?</p>
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTAzMDhfMTIx%2FMDAxNjE1MjA1MjA2NjEw.YpI3emlYikP6uxz9H3KV58k3QcCIi3invkIqlD4Er9Mg.rnJdym4d4KSSqb46Xi7fO0p6MZO6Q1r_DEkeMp56Whkg.JPEG.jeewon1006%2FIMG_2801.JPG&type=sc960_832" width="300" height="350">
                                <p>(1) 로맨스 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(2) 액션 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(3) 판타지 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <br><br><br><br><br>
                                <p>2-4. 흐리고 추운 겨울날씨에 어떤 영화 장르를 보고 싶나요?</p>
                                <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fc.pxhere.com%2Fphotos%2F9a%2F55%2Ftree_forest_pine_fog_foggy-1401587.jpg%21d&type=sc960_832" width="300" height="350">
                                <p>(1) 로맨스 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(2) 액션 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(3) 판타지 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                </div>
                            </div>
                        </div>



                    <div class="col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Snowy Day</div>
                            <div class="question">
                                <p>3-1. 조금씩 잘게 내리는 가랑눈이 내리는 날에 어떤 영화 장르를 보고 싶나요?</p>
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA0MDFfNjcg%2FMDAxNjQ4ODE1NDAwODI0.yty0JTJhBDgneSYcvq0QghlCVLl_52C7qtFHrgWTQE8g.FoOmp8pZm6m0Cbp2WiBrlZ2I2NRWXBc9fWIx3IcdxP0g.JPEG.parangsaekr%2F%25B4%25D9%25BF%25EE%25B7%25CE%25B5%25E5.jpg&type=sc960_832" width="300" height="350">
                                <p>(1) 로맨스 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(2) 액션 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(3) 판타지 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <br><br><br><br><br>
                                <p>3-2. 함박눈이 펑펑 내리는 날에 어떤 영화 장르를 보고 싶나요?</p>
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzAyMjJfMjM4%2FMDAxNjc3MDM2NzMzNzE1.v4MjzLD5ecuFoXxPBRowFAxDlNWAQZDAx9xKOXZwnAAg.3Xnl4MuOMVMOQLBzolvQ3LdI_ZDM_FtZf78AAsaJJQ8g.JPEG.ssy98158%2FKakaoTalk_Photo_2023-02-22-12-30-47.jpeg&type=sc960_832" width="300" height="350">
                                <p>(1) 로맨스 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(2) 액션 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(3) 판타지 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                            </div>
                            </div>
                        </div>



                    <div class="col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Rainy Day</div>
                            <div class="question">
                                <p>4-1. 비가 후드득후드득 조금씩 내리는 날에 어떤 영화 장르를 보고 싶나요?</p>
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fcafefiles.naver.net%2FMjAxOTA3MTNfMTUg%2FMDAxNTYyOTg2NzI5NjI5.BzEomVPN2qRJD_LEWmEK3YeqxFa5VhLZeBiGv_PLma4g.eXYL0c-0eM0jy5RteWM19lUlkO0U1Zs9Tm6Eoj6gsPUg.JPEG%2F20190712_122426.jpg&type=sc960_832" width="300" height="350">
                                <p>(1) 로맨스 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(2) 액션 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(3) 판타지 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <br><br><br><br><br>
                                <p>4-2. 비가 많이 내리는 날에 어떤 영화 장르를 보고 싶나요?</p>
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTEwMTNfNDMg%2FMDAxNjM0MTAwMzAxMTA3.X9WJ2NE_fuCg-sku9rpB7hwnDDPPVjy3hqDc9sx1s2Qg.EXz7eneQdwCDXtitq1la5kBtxXrnLs3WibQNSLf7-aog.JPEG.toni2000%2F20211013%25A3%25DF133949.jpg&type=sc960_832" width="300" height="350">
                                <p>(1) 로맨스 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(2) 액션 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>
                                <p>(3) 판타지 영화</p>  
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" class="form-check-input" name="question1" value="a"> 매우 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="b"> 좋음
                                    <input type="checkbox" class="form-check-input" name="question1" value="c"> 보통
                                    <input type="checkbox" class="form-check-input" name="question1" value="d"> 나쁨
                                    <input type="checkbox" class="form-check-input" name="question1" value="e"> 매우 나쁨
                                </div>                      
                                </div>
                            </div>
                        </div>
                </div>
            </div>


            <button type="button" class="btn btn-primary">Submit</button>

        </main>
    </div>
</div>
{% endblock %}