{% if movie_list %}
{% for movie in movie_list %}
{{ a }}
    <div class="movie">
        <h2>{{ movie.title }}</h2>
        <img src="http://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.title }}" width="250">
        <p>Overview. {{ movie.overview }}</p>
        {% for genre in movie.genres %}
            {{ genre.name }}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
        <p>개봉일. {{ movie.release_date }}</p>
    </div>
{% endfor %}
{% else %}
    <p>No movies found.</p>
{% endif %}
