{% extends 'base.html' %}

{% block content %}

<br>
<main>
    <div class="container-fluid px-4">
        <ol class="breadcrumb mb-4" style="background-color: rgb(153, 109, 208);">
            <li class="breadcrumb-item active" style="color: white;">장르 선호도 조사🎬</li>
        </ol>

        <div class="col-md-6"></div>
        <div class="card" style="background-color: rgb(153, 109, 208); color: white;">

            <div class="container mt-5">

                <form method="POST">
                    {{ form.csrf_token }}

                    {% for field in form %}
                        {% if field.type != 'hidden' %}
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <br>
                        {% endif %}
                    {% endfor %}

                    <button type="submit" class="btn btn-primary mt-3">저장</button>
                    <a href="{{ url_for('main.location') }}" class="btn btn-primary mt-3">제출</a>
                </form>
                <br>
            </div>
        </div>

        <div class="col-md-6"></div>
    </div class="container-fluid px-4">
</main>

{% endblock %}
